.word {
	font-size: 42px;
	display:inline-block;
	text-align: center;
	margin-right: 10px;
}

.highlighted {
	color: lightblue;
}

.selected {
	color: orange;
}

.categories-table {
} 

.category {
	font-size: 16px;
	color: lightgreen;
	text-align: center;
}

.word-container {
	display: inline-block;
	vertical-align:top;
}
.sentence-container {
	vertical-align:top;
	margin: 20px;
}

.sentence-main-container {
    float:left;
    padding:10px;
    max-width:100%;
}

.categorie-table-container {
    float:right;
    padding:5px;
    width: 14%;
}

.main-button {
	margin: 10px;
}

.is-correct {
	color: green;
}

.is-in-error {
	color: red;
}

.message-error {
	background-color: lightpink;
}

.message-correct {
	background-color: lightgreen;
}