.word {
    font-size: 42px;
    display:inline-block;
    text-align: center;
    padding-right: 5px;
    padding-left: 5px;
    cursor: pointer;
}

a[data-toggle="popover"] + .popover {
    opacity: 0 !important;
}

a[data-toggle="popover"]:hover + .popover {
    opacity: 1 !important;
}

a[data-toggle="tooltip"] + .tooltip  {
    opacity: 0 !important;
}

a[data-toggle="tooltip"]:hover + .tooltip  {
    opacity: 1 !important;
}

.highlighted {
    color: lightblue !important;
}
.progress-bar {
    margin-top: 0px;
    background-color: lightblue;
    color: black;
}
.alert-danger {
    background-color: #f9f2ec;
    border-radius: 6px;
    color: #b63735;
    border-color: #b63735;
}
.alert-warning {
    background-color: #FCF8E3;
    border-radius: 6px;
    color: #206020;
    border-color: #206020;
}

.progress {
    margin-top: 10px;
    text-align:center;
    background-color: #f3f3f3;
    border: 0;
    height: 18px;
    border-radius: 9px;    
    width:60%;
}
.progressInnerLabel {
    position: absolute;
    text-align: center; 
    color: black;  
    height: 20px;    
}
.selected {
    color: lightblue;
    /* font-weight: bold; */
}

.categories-table {
    font-size: 120%;
} 

/*.category {
    font-size: 14px;
    color: black;
    text-align: center;
}*/

.word-container {
    display: inline-block;
    vertical-align:top;
}
.sentence-container {
    vertical-align:top;
    margin: 20px;
}

.sentence-main-container {
    float:left;
    padding:10px;
    max-width:100%;
}

.categorie-table-container {
    float:right;
    padding:5px;
    /*width: 18%;*/
}
.popover{
    max-width:500px;
    opacity:0.85 !important;
}
.main-button {
    margin: 10px;
    width: 18%;
}

.is-correct {
    color: green;
}

.is-in-error {
    color: #C22C29;
}

.message-error {
    background-color: lightpink;
}

.message-correct {
    background-color: lightgreen;
}

.full-name-category {
    color: black;
    font-style: italic;
}

#header {
    background:#ff0;
    padding:10px;
}

#footer { 
    position:absolute;
    bottom:0;
    width:100%;
    height:60px;   /* Height of the footer */
    background:#6cf;
}

#blocJeu  {
    padding-top: 20px;
}

.category-row:hover {
    font-weight: bold;
    cursor: pointer;
}

.container {
    width: 80%;
}