.word {
	font-size: 42px;
	display:inline-block;
	text-align: center;
	margin-right: 10px;
}

.highlighted {
	color: lightblue !important;
}
.progress-bar {
    margin-top: 0px;
    background-color: lightblue;
    color: black;
}

.progress {
    margin-top: 10px;    
    background-color: #f3f3f3;
    border: 0;
    height: 18px;
    border-radius: 9px;    
    width:350px;
}
.progressInnerLabel {
    position: absolute;
    text-align: center; 
    color: black;  
    height: 20px;    
}
.selected {
	color: orange;
}

.categories-table {
} 

.category {
	font-size: 16px;
	color: lightgreen;
	text-align: center;
}

.word-container {
	display: inline-block;
	vertical-align:top;
}
.sentence-container {
	vertical-align:top;
	margin: 20px;
}
.background-colored{
    background-color: #5A85A0;
}
.sentence-main-container {
    float:left;
    padding:10px;
    max-width:100%;
}

.categorie-table-container {
    float:right;
    padding:5px;
    width: 18%;
}

.main-button {
	margin: 10px;
        width: 217px;
}

.is-correct {
	color: green;
}

.is-in-error {
	color: red;
}

.message-error {
	background-color: lightpink;
}

.message-correct {
	background-color: lightgreen;
}

.full-name-category {
	color: black;
	font-style: italic;
}
.footer { 
    position: absolute; bottom: 0; 
}