.main{
    position: relative; }
@media screen and (min-width: 1280px) {
    .main {
        padding-right: 20%; } 
}

.main-container {
    vertical-align: middle;
    /*text-align: center;*/
    /*margin: 0 auto;*/
    overflow: hidden;
    width: 90%;
    padding:2%;
    margin: 2%;
}

.semi-transparent {
    background-color: rgba(249, 242, 236, 0.4);
}

.main-footer {
    position: relative;
    text-align: center;
}

.main-footer > h3 {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 2%;
    margin-left: 0px;
}
@media screen and (min-width: 1280px) {
    .main-footer {
        position: absolute;
        top: 0%;
        right: 1%;
        width: 20%; } 
}

.word {
    font-size: 180%;
    display:inline-block;
    text-align: center;
    padding-right: 2px;
    padding-left: 2px;
}

.not-punct{
    cursor: pointer;
}
a[data-toggle="popover"] + .popover {
    opacity: 0 !important;
}

a[data-toggle="popover"]:hover + .popover {
    opacity: 1 !important;
}

a[data-toggle="tooltip"] + .tooltip  {
    opacity: 0 !important;
}

a[data-toggle="tooltip"]:hover + .tooltip  {
    opacity: 1 !important;
}

.highlighted {
    color: #0078ae !important;
}
.progress-bar {
    margin-top: 0px;
    background-color: lightblue;
    color: black;
}
.alert-danger {
    background-color: #f9f2ec;
    border-radius: 6px;
    color: #b63735;
    border-color: #b63735;
}
.alert-warning {
    background-color: #FCF8E3;
    border-radius: 6px;
    color: #206020;
    border-color: #206020;
}

.progress {
    margin-top: 10px;
    text-align:center;
    background-color: #f3f3f3;
    border: 0;
    height: 18px;
    border-radius: 9px;    
    width:60%;
}
.progressInnerLabel {
    position: absolute;
    text-align: center; 
    color: black;  
    font-weight: bold;  
    height: 20px;    
}
.selected {
    color: #0078ae;
    /* font-weight: bold; */
}

.categories-table {
    font-size: 120%;
} 

.word-container {
    display: inline-block;
    vertical-align:top;
}
.sentence-container {
    vertical-align:top;
    /*margin: 20px;*/
}

.categorie-table-container {
    float:right;
    padding:5px;
    /*width: 18%;*/
}
.popover{
    max-width:500px;
    opacity:0.85 !important;
}
.main-button {
    margin: 10px;
    width: 18%;
    min-width: 200px;
}

.is-correct {
    color: green;
}

.is-in-error {
    color: #C22C29;
}

.message-error {
    background-color: lightpink;
}

.message-correct {
    background-color: lightgreen;
}

.full-name-category {
    color: black;
    font-style: italic;
}

#header {
    background:#ff0;
    padding:10px;
}

#footer { 
    position:absolute;
    bottom:0;
    width:100%;
    height:60px;   /* Height of the footer */
    background:#6cf;
}

#blocJeu  {
    padding-top: 20px;
}

.table > tbody > tr > td{
    cursor: pointer;
}

.category-label{
    text-align: center;
}

.category-row:hover {
    font-weight: bold;
    cursor: pointer;
}

/*.container {
    width: 80%;
}*/
/* Style the buttons that are used to open and close the accordion panel */
button.accordion {
    cursor: pointer;
    width: 100%;
    text-align: left;
    border: none;
    padding:18px;
    outline: none;
    transition: 0.4s;
    font-size: 1.4em;
    background-color: rgba(249, 242, 236, 0.7);

}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
button.accordion.active, button.accordion:hover {
    /*background-color: #BEDAC8;*/
}

/* Style the accordion panel. Note: hidden by default */
div.panel {
    padding: 12px 18px;
    color: black;
    display: none;
    font-size: 16px;
}

.panel{
    margin-bottom: 0px !important;
}
/* The "show" class is added to the accordion panel when the user clicks on one of the buttons. This will show the panel content */
div.panel.show {
    display: block;
}

button.accordion:after {
    content: '\02795';  Unicode character for "plus" sign (+) 
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
}

button.accordion.active:after {
    content: "\2796";  /* Unicode character for "minus" sign (-) */
}



.other-cat{
    font-weight: bold;
    color: #f35000;
}