.scoreboard_pannel {
    margin-left: 5%;
    margin-top: 5px;    
}




/*.main{
    position: relative; }
@media screen and (min-width: 1280px) {
    .main {
        padding-right: 20%; } 
}

.main-container {
    vertical-align: middle;
    text-align: center;
    overflow: hidden;
    width: 100%;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: 1%; }

.main-footer {
    position: relative;
    text-align: center;
    margin: 0 auto;
}

.help {
    overflow-y : auto;
}
@media screen and (min-width: 1280px) {
    .main-footer {
        bottom: 0;
        padding-bottom: 200px;
        position: absolute;
        right: 5%;
        top: 8%;
        width: 20%; } }

.my-padding {
    padding: 50px 30px 50px 80px;
}

.scroll-left {
    height: 50px;	
    overflow: hidden;
    position: relative;
    color: black;
}
.scroll-left p {
    position: absolute;
    font-size: 130%;
    width: 100%;
    height: 100%;
    margin: 0;
    line-height: 50px;
    text-align: center;
     Starting position 
    -moz-transform:translateX(-50%);
    -webkit-transform:translateX(-50%);	
    transform:translateX(-50%);
     Apply animation to this element 	
    -moz-animation: scroll-left linear 0s infinite;
    -webkit-animation: scroll-left 0s linear infinite;
    animation: scroll-left 25s linear infinite;
}
 Move it (define the animation) 
@-moz-keyframes scroll-left {
    0%   { -moz-transform: translateX(100%); }
    100% { -moz-transform: translateX(-100%); }
}
@-webkit-keyframes scroll-left {
    0%   { -webkit-transform: translateX(100%); }
    100% { -webkit-transform: translateX(-100%); }
}
@keyframes scroll-left {
    0%   { 
        -moz-transform: translateX(100%);  Browser bug fix 
        -webkit-transform: translateX(100%);  Browser bug fix 
        transform: translateX(100%); 		
    }
    100% { 
        -moz-transform: translateX(-100%);  Browser bug fix 
        -webkit-transform: translateX(-100%);  Browser bug fix 
        transform: translateX(-100%); 
    }
}

.button-wrapper { 
    overflow:hidden;
    margin:0 auto;
    text-align:center;
}

#validate:hover:after{
    pointer-events: auto;
}

.active-button:hover {
    color: black;
    font-weight: bold;
    border-color: #285e8e; set the color you want here
}

.b-disabled{
    cursor: not-allowed;
    box-shadow: none;
    opacity: .35 !important;
}

.title { 
    margin-top: 10vh;
    font-size: 1000%;
    color: white;
    font-size: 1800%;
    font-weight: 400;
    text-align: center;
    line-height: 300px;
   text-shadow: -3px 0 red, 0 1px red, 1px 0 red, 0 -3px red;  
     text-shadow: -4px 0 black, 0 1px black, 1px 0 black, 0 -4px black;  
}

.info-message-trans {
    font-size: 140%;
    max-width: 80%;
    margin: 0 auto;
    padding: 1.25rem;
     background-color:rgba(249, 242, 236, 0.9); 
}

.alert-message {
    color: red !important;
    font-weight: bold;
}
#scoreboard {
    background-color: rgba(249, 242, 236, 0.8);
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -o-hyphens: auto;
    hyphens: auto;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    overflow: hidden;
}

.alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
    max-width: 80% !important;
    margin: 0 auto;
}

.tab-content > .tab-pane{
    padding: 2%;
}

.nav-tabs li a{
    max-width: 100px;
}

.nav-tabs>li>a, .nav-tabs>li>a>div {
    height:100%;
    vertical-align:middle;
    display:table;
}

.nav-tabs>li>a span {
    display:table-cell;
    vertical-align:middle;
}



.score{
    display: inline-block;
    text-align: left; 
    font-size: 2em;
}

.module {
    background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/skyscrapers.jpg);
    background-attachment: fixed;
    width: 400px;
    height: 300px;
    position: relative;
    overflow: hidden;
    margin: 20px;
}
.fill > header {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 20px 10px;
    background: inherit;
    background-attachment: fixed;
}
.fill > header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 50%;
    background: inherit;
    background-attachment: fixed;
    -webkit-filter: blur(12px);
    filter: blur(12px);
    transform: scale(2) translateY(20px);
}

.info-message > header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 50%;
    background: inherit;
    background-attachment: fixed;
    -webkit-filter: blur(12px);
    filter: blur(12px);
    transform: scale(2) translateY(20px);
}

.fill > header > h1 {
    margin: 1;
    color: white;
    position: relative;
    z-index: 1;
}

* {
    box-sizing: border-box;
}
#percent {
    position: absolute;   
    left: 50%;
}

.question {
    background-color: #fbc764;
}

li{ text-align: left}*/