.tegcloud
{
    text-align: center;
}
.teg-1
{
    font-size: 12px; 
    color: rgb(2, 59, 255) !important
}
.teg-2
{
    font-size: 15px; 
    color: rgb(63, 135, 112) !important
}
.teg-3
{
    font-size: 22px; 
    color: rgb(109, 32, 171) !important
}
.teg-4
{
    font-size: 28px; 
    color: rgb(227, 182, 28) !important
}
.teg-5
{
    font-size: 36px; 
    color: rgb(176, 93, 48) !important
}
