
// Fonts

$font-family-sans-serif: 'Cicle-Fina', sans-serif;
$font-family-base:            $font-family-sans-serif !default;

// Brands
$theme-colors: (
  "primary": #337ab7
);

$nav-tabs-link-active-color: #fff;

$dropdown-link-color: #FCF8E3;

$dropdown-bg: #545454;

$card-columns-count: 3;

@import "node_modules/bootstrap/scss/bootstrap";